<div class="container">
  <div class="row">
    <div class="title">
      <h1 id='pageTitle'>Burgers!</h1>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <div class="freshBoigas">
        <h2>Order Up!</h2>
        <ol>
          {{#each burgers}}
          {{#unless devoured}}
          {{> burgers/burger-block devour=true}}
          {{/unless}}
          {{/each}}
        </ol>
      </div>
    </div>

    <div class="col-lg-2">

    </div>

    <div class="col-lg-5">
      <div class="devouredBoigas">
        <h2>Burgers that were Devoured!</h2>
        <ol>
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devour=false}}
          {{/if}}
          {{/each}}
        </ol>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="addBurger">
      <p class="formInstructions">Enter a burger you would like to eat, then click submit!</p>
      <form class="create-form">
        <div class="form-group">
          <input type="text" id="burgerName" name="name">
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>